**/*.war

.metadata/*
.settings/*
.classpath
.project
**/*.swp
**/*.class
target/m2e-wtp/web-resources/META-INF/**
target/interactome.war*
target/classes/**
target/interactome/**/*.jar
**/*.properties
**/*.lst
/target/
